{%- extends '_base.html' %}
{%- from 'plus/_func.html' import pagination %}

{% macro heading() %}
<tr>
  <th>
    <abbr title="Primary ID">Prime</abbr>
    <a href="{{ url_for(request.endpoint, page=1, field='prime', sort='asc') }}">&#8593;</a>
    <a href="{{ url_for(request.endpoint, page=1, field='prime', sort='desc') }}">&#8595;</a>
  </th>
  <th>
    Symbol
    <a href="{{ url_for(request.endpoint, page=1, field='symbol', sort='asc') }}">&#8593;</a>
    <a href="{{ url_for(request.endpoint, page=1, field='symbol', sort='desc') }}">&#8595;</a>
  </th>
  <th>
    Target
    <a href="{{ url_for(request.endpoint, page=1, field='target', sort='asc') }}">&#8593;</a>
    <a href="{{ url_for(request.endpoint, page=1, field='target', sort='desc') }}">&#8595;</a>
  </th>
  <th>
    <abbr title="Forward delay in seconds">Delay</abbr>
    <a href="{{ url_for(request.endpoint, page=1, field='delay', sort='asc') }}">&#8593;</a>
    <a href="{{ url_for(request.endpoint, page=1, field='delay', sort='desc') }}">&#8595;</a>
  </th>
  <th>
    Active
    <a href="{{ url_for(request.endpoint, page=1, field='active', sort='asc') }}">&#8593;</a>
    <a href="{{ url_for(request.endpoint, page=1, field='active', sort='desc') }}">&#8595;</a>
  </th>
  <th>
    <abbr title="Visit counter">Visited</abbr>
    <a href="{{ url_for(request.endpoint, page=1, field='visited', sort='asc') }}">&#8593;</a>
    <a href="{{ url_for(request.endpoint, page=1, field='visited', sort='desc') }}">&#8595;</a>
  </th>
  <th>
    <abbr title="Creation Date (UTC)">Created</abbr>
    <a href="{{ url_for(request.endpoint, page=1, field='created', sort='asc') }}">&#8593;</a>
    <a href="{{ url_for(request.endpoint, page=1, field='created', sort='desc') }}">&#8595;</a>
  </th>
</tr>
{% endmacro %}

{% macro element(elem) %}
  {% macro textbool(val) %}
    {{ ('yes' if val else 'no') }}
  {% endmacro %}
<tr>
  <td>{{ elem.prime }}</td>
  <td><a href="{{ url_for('main.short', symb=elem.symbol) }}">{{ elem.symbol }}</a></td>
  <td>{{ elem.target|urlize(23, target='_blank', rel='nofollow') }}</td>
  <td>{{ elem.delay }}</td>
  <td>{{ textbool(elem.active) }}</td>
  <td>{{ elem.visited }}</td>
  <td>{{ elem.created }}</td>
</tr>
{% endmacro %}


{%- block content %}
<div class="columns">
  <div class="column is-fullwidth">
    <div class="content">
      <h2>{{ title }}</h2>
      {% if elements and elements.items %}
      <div class="table-container">
        <table class="table">
          <thead>
            {{ heading() }}
          </thead>
          <tbody>
            {% for elem in elements.items %}
              {{ element(elem) }}
            {% endfor %}
          </tbody>
          <tfoot>
            {{ heading() }}
          </tfoot>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% if elements and elements.items %}
<div class="columns">
  <div class="column is-fullwidth">
    {{ pagination(elements) }}
  </div>
</div>
{% endif %}
{%- endblock %}
