<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%- if title and title != config.TITLE %}{{ title }} | {% endif %}{{ config.TITLE }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.min.css') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#ff0005">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="fckaf.de">
    <meta name="application-name" content="fckaf.de">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
    <meta name="theme-color" content="#000000">
{% block head %}{% endblock %}
{% with symbol = ('(' ~ short.symbol ~ ')') if short and short.symbol else '' %}
{% with description = ('Ein URL Shorter — Er ist sehr gut!' ~ ' ' ~ symbol)|trim %}
    <meta name="description" content="{{ description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ url_for('side.logo', _external=true) }}">
    <meta name="twitter:title" content="{{ config.TITLE }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ url_for('side.logo', _external=true) }}">
    <meta property="og:locale" content="de_DE">
    <meta property="og:title" content="{{ config.TITLE }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.base_url }}">
{% endwith %}
{% endwith %}
  </head>
  <body>
<section class="section">
  <div class="container">
{% block content %}{% endblock %}
  </div>
</section>
{% include '_foot.html' %}
  </body>
</html>
