{% macro column_content(cls=none) %}
  {% with content = caller() %}
<div class="columns">
  <div class="column is-8-desktop is-offset-2-desktop">
    <div class="content{% if cls %} {{ cls }}{% endif %}">
{{ caller() }}
    </div>
  </div>
</div>
  {% endwith %}
{% endmacro %}


{% macro logo(href=none) %}
  <figure id="logo" class="image">
    {% if href %}<a rel="nofollow" href="{{ href }}" style="display: block;">{% endif %}
      <object
        data="{{ url_for('static', filename='logo.svg') }}" type="image/svg+xml"
        {% if href %}style="pointer-events: none;"{% endif %}
      >
        <img src="{{ url_for('side.logo') }}" alt="logo">
      </object>
    {% if href %}</a>{% endif %}
  </figure>
{% endmacro %}


{% macro social_buttons(source) %}
  {% macro _cols(elems) %}
  <div class="columns">
  {% for elem in elems %}
    <div class="column has-text-centered">
      {{ elem }}
    </div>
  {% endfor %}
  </div>
  {% endmacro %}
  {% macro _button(text, icon, href) %}
  <a class="button is-medium" rel="nofollow" href="{{ href }}" target="_blank">
    <span class="icon">
      <i class="{{ icon }}"></i>
    </span>
    <span>{{ text }}</span>
  </a>
  {% endmacro %}

{% with (text, hash) = ('Ein sehr guter Link!', 'fckafde') %}
  {{ _cols([
    _button(
      'Twitter', 'fab fa-twitter',
      'https://twitter.com/intent/tweet?' ~ {
        'url': source, 'text': text, 'hashtags': hash,
      }|urlencode
    ),
    _button(
      'Facebook', 'fab fa-facebook-f',
      'https://www.facebook.com/sharer.php?' ~ {
        'u': source,
      }|urlencode
    ),
    _button(
      'Pinterest', 'fab fa-pinterest-p',
      'http://pinterest.com/pin/create/link/?' ~ {
        'url': source,
      }|urlencode
    ),
    _button(
      'VK', 'fab fa-vk',
      'http://vk.com/share.php?' ~ {
        'url': source, 'title': text,
      }|urlencode
    ),
  ]) }}

  {{ _cols([
    _button(
      'Telegram', 'fab fa-telegram-plane',
      'https://t.me/share/url?' ~ {
        'url': source, 'text': text,
      }|urlencode
    ),
    _button(
      'WhatsApp', 'fab fa-whatsapp',
      'https://wa.me/?' ~ {
        'text': text ~' ' ~ source,
      }|urlencode
    ),
    _button(
      'Skype', 'fab fa-skype',
      'https://web.skype.com/share?' ~ {
        'url': source, 'text': text,
      }|urlencode
    ),
    _button(
      'Line', 'fab fa-line',
      'https://lineit.line.me/share/ui?' ~ {
        'url': source, 'text': text,
      }|urlencode
    ),
  ]) }}

  {{ _cols([
    _button(
      'Diaspora', 'fab fa-diaspora',
      'https://share.diasporafoundation.org/?' ~ {
        'url': source, 'title': text,
      }|urlencode
    ),
    _button(
      'Tumblr', 'fab fa-tumblr',
      'https://www.tumblr.com/widgets/share/tool?' ~ {
        'canonicalUrl': source, 'title': text, 'tags': hash,
      }|urlencode
    ),
    _button(
      'Reddit', 'fab fa-reddit-alien',
      'https://reddit.com/submit?' ~ {
        'url': source, 'title': text,
      }|urlencode
    ),
    _button(
      'Digg', 'fab fa-digg',
      'http://digg.com/submit?' ~ {
        'url': source
      }|urlencode
    ),
  ]) }}

  {{ _cols([
    _button(
      'Flipboard', 'fab fa-flipboard',
      'https://share.flipboard.com/bookmarklet/popout?v=2' ~ {
        'url': source, 'title': text,
      }|urlencode
    ),
    _button(
      'Blogger', 'fab fa-blogger-b',
      'https://www.blogger.com/blog-this.g?' ~ {
        'u': source, 'n': text, 't': text
      }|urlencode
    ),
    _button(
      'LinkedIn', 'fab fa-linkedin-in',
      'https://www.linkedin.com/shareArticle?mini=true&' ~ {
        'url': source, 'title': text,
      }|urlencode
    ) ,
    _button(
      'Xing', 'fab fa-xing',
      'https://www.xing.com/spi/shares/new?' ~ {
        'url': source,
      }|urlencode
    ),
  ]) }}

  {{ _cols([
    _button(
      'Evernote', 'fab fa-evernote',
      'http://www.evernote.com/clip.action?' ~ {
        'url': source, 'title': text,
      }|urlencode
    ),
    _button(
      'Buffer', 'fab fa-buffer',
      'https://buffer.com/add?' ~ {
        'url': source, 'text': text,
      }|urlencode
    ),
    _button(
      'Pocket', 'fab fa-get-pocket',
      'https://getpocket.com/edit?'  ~ {
        'url': source,
      }|urlencode
    ),
    _button(
      'Weibo', 'fab fa-weibo',
      'http://service.weibo.com/share/share.php?'  ~ {
        'url': source, 'title': text, 'appkey': '', 'pic': '', 'ralateUid': '',
      }|urlencode
    ),
  ]) }}
{% endwith %}
{% endmacro %}
