{% macro sect(ccls=none) %}
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <div class="content{% if ccls %} {{ ccls }}{% endif %}">
{{ caller() }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro logo(href=none) %}
  {% call() sect() %}
    <figure id="logo" class="image">
{% include 'logo.svg' %}
    </figure>
    {% if href %}
    <script>
      (function(elem, href) {
        if (!elem || !href) { return; }
        elem.addEventListener('click', function() { window.location.assign(href); });
      })(document.getElementById('logo'), '{{ href }}');
    </script>
    {% endif %}
  {% endcall %}
{% endmacro %}
