{% macro column_content(cls=none) %}
  {% with content = caller() %}
<div class="columns">
  <div class="column is-8-desktop is-offset-2-desktop">
    <div class="content{% if cls %} {{ cls }}{% endif %}">
{{ caller() }}
    </div>
  </div>
</div>
  {% endwith %}
{% endmacro %}


{% macro logo(href=none) %}
  <figure id="logo" class="image">
    {% if href %}<a href="{{ href }}">{% endif %}
<object data="{{ url_for('static', filename='logo.svg') }}" type="image/svg+xml">
  <img src="{{ url_for('side.favicon') }}" alt="logo">
</object>
    {% if href %}</a>{% endif %}
  </figure>
{% endmacro %}
