{% extends '_base.html' %}
{% from '_code.html' import column_content, logo %}

{% block content %}
{% call() column_content() %}
{{ logo(href=url_for('main.index')) }}
{% endcall %}
{% call() column_content(cls='has-text-centered') %}
  <h1 class="title">Falsch!</h1>
  <h2 class="subtitle">{{ error.code }}</h2>
  {% if error.code == 404 %}
  <div class="content">
    <div>Leider nichts gefunden..</div>
    <div>
      Aber du kannst
      <a href="{{ url_for('main.index') }}">
        ganz einfach einen neuen Link
      </a>
      erstellen&hellip;
    </div>
  </div>
  {% endif %}
  <div class="content">
    <blockquote>{{ error.description }}</blockquote>
  </div>
{% endcall %}
{% endblock %}
