{% extends '_base.html' %}
{% from '_code.html' import logo, section_content %}

{% block content %}
{% call() section_content() %}
{{ logo(href=url_for('main.index')) }}
{% endcall %}
{% call() section_content(cls='has-text-centered') %}
  <div class="title">Falsch!</div>
  <div class="subtitle">{{ error.code }}</div>
  {% if error.code == 404 %}
  <div class="content">
    <div>Leider nichts gefunden..</div>
    <div>
      Aber du kannst
      <a href="{{ url_for('main.index') }}">
        ganz einfach einen neuen Link
      </a>
      erstellen&hellip;
    </div>
  </div>
  {% endif %}
  <div class="content">
    <blockquote>{{ error.description }}</blockquote>
  </div>
{% endcall %}
{% endblock %}
