{% extends '_base.html' %}
{% from '_code.html' import column_content, logo %}

{% block head %}
{% if link %}
<script defer src="{{ url_for('static', filename='fa.min.js') }}"></script>
{% endif %}
{% endblock %}


{% macro _create_form() %}
{% call() column_content() %}
<form action="{{ url_for('main.index') }}" method="post">
  {{ form.csrf_token() if form.csrf_token }}

  <div class="field">
    <div class="control has-text-centered">
      {{ form.target.label(class='label', text='Zu kürzende Web-Adresse') }}
      {{ form.target(
        class='input' ~ (' is-danger' if form.target.errors),
        title='Ziel der Weiterleitung',
        type='url',
        placeholder='https://...',
      ) }}
    </div>
    {%- for error in form.target.errors %}
    <p class="help is-danger">{{ error }}</p>
    {%- endfor %}
  </div>

  <div class="field">
    <div class="control has-text-centered">
      {{ form.delay.label(class='label', text='Weiterleitung nach &hellip; Sekunden') }}
      <div class="select is-fullwidth {{ 'is-danger' if form.delay.errors }}">
        {{ form.delay(
          title='Verzögerung der Weiterleitung - in Sekunden'
        ) }}
      </div>
    </div>
    {%- for error in form.delay.errors %}
    <p class="help is-danger">{{ error }}</p>
    {%- endfor %}
  </div>

  <div class="field">
    <div class="control has-text-right">
      {{ form.submit(
        class='button is-link',
        value='Speichern',
        title='Abschicken, verwursten lassen; Smiley'
      ) }}
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"></div>
    <div class="field-body">
      <div class="field">
        <div class="control">

        </div>
      </div>
    </div>
  </div>
</form>
{% endcall %}
{% endmacro %}

{% macro _display_form() %}
{% call() column_content() %}
<div class="field has-addons">
  <div class="control is-expanded">
    {{ form.link(
      class='input',
      title='Der sehr gute Kurzlink'
    ) }}
  </div>
  <div class="control">
    {{ form.copy(
      class='button is-link',
      value='Kopieren',
      title='In die Zwischenablage kopieren'
    ) }}
  </div>
  {{ clipboard_copy(form.copy.id, form.link.id) }}
</div>
{% endcall %}
{% endmacro %}

{% macro _social_buttons() %}
  {% macro _cols(elems) %}
  <div class="columns">
  {% for elem in elems %}
    <div class="column has-text-centered">
      {{ elem }}
    </div>
  {% endfor %}
  </div>
  {% endmacro %}
  {% macro _button(text, icon, href) %}
  <a class="button is-medium" href="{{ href }}" target="_blank">
    <span class="icon">
      <i class="{{ icon }}"></i>
    </span>
    <span>{{ text }}</span>
  </a>
  {% endmacro %}

{% with (text, hash) = ('Ein sehr guter Link!', 'fckaf.de') %}
  {{ _cols([
    _button(
      'Twitter', 'fab fa-twitter',
      'https://twitter.com/intent/tweet?' ~ {
        'url': link.source, 'text': text, 'hashtags': hash,
      }|urlencode
    ),
    _button(
      'Facebook', 'fab fa-facebook-f',
      'https://www.facebook.com/sharer.php?' ~ {
        'u': link.source,
      }|urlencode
    ),
    _button(
      'Pinterest', 'fab fa-pinterest-p',
      'http://pinterest.com/pin/create/link/?' ~ {
        'url': link.source,
      }|urlencode
    ),
    _button(
      'VK', 'fab fa-vk',
      'http://vk.com/share.php?' ~ {
        'url': link.source, 'title': text,
      }|urlencode
    ),
  ]) }}

  {{ _cols([
    _button(
      'Reddit', 'fab fa-reddit-alien',
      'https://reddit.com/submit?' ~ {
        'url': link.source, 'title': text,
      }|urlencode
    ),
    _button(
      'Digg', 'fab fa-digg',
      'http://digg.com/submit?' ~ {
        'url': link.source
      }|urlencode
    ),
    _button(
      'Tumblr', 'fab fa-tumblr',
      'https://www.tumblr.com/widgets/share/tool?' ~ {
        'canonicalUrl': link.source, 'title': text, 'tags': hash,
      }|urlencode
    ),
    _button(
      'Diaspora', 'fab fa-diaspora',
      'https://share.diasporafoundation.org/?' ~ {
        'url': link.source, 'title': text,
      }|urlencode
    ),
  ]) }}

  {{ _cols([
    _button(
      'Telegram', 'fab fa-telegram-plane',
      'https://t.me/share/url?' ~ {
        'url': link.source, 'text': text,
      }|urlencode
    ),
    _button(
      'WhatsApp', 'fab fa-whatsapp',
      'https://wa.me/?' ~ {
        'text': text ~' ' ~ link.source,
      }|urlencode
    ),
    _button(
      'Skype', 'fab fa-skype',
      'https://web.skype.com/share?' ~ {
        'url': link.source, 'text': text,
      }|urlencode
    ),
    _button(
      'Line', 'fab fa-line',
      'https://lineit.line.me/share/ui?' ~ {
        'url': link.source, 'text': text,
      }|urlencode
    ),
  ]) }}
{% endwith %}
{% endmacro %}


{% block content %}
{% call() column_content() %}
{{ logo(href=none if link else url_for('main.index')) }}
{% endcall %}
{% if link %}
  {% call() column_content(cls='has-text-centered') %}
    <h1 class="title">{{ link.source }}</h1>
    <h2 class="subtitle">
      <a href="{{ link.source }}">{{ link.target }}</a>
    </h2>
    <div class="content">
      Dies ist ein sehr guter Kurzlink.
    </div>
  {% endcall %}
  {{ _display_form() }}
  {% call() column_content(cls='has-text-centered') %}
    <h1 class="title">Teilen</h1>
  {% endcall %}
  {{ _social_buttons() }}
{% else %}
  {{ _create_form() }}
  {% call() column_content(cls='has-text-centered') %}
    <h1 class="title">fckaf.de</h1>
  {% endcall %}
{% endif %}
{% endblock %}
