{% extends '_base.html' %}
{% from '_code.html' import column_content, logo, social_buttons %}

{% set share_mode = ('stop' in request.args or 'share' in request.args) %}


{% block head %}
{% if not share_mode %}
  {% if not is_socialagent(request.user_agent) %}
    {{ redirect_meta(short) }}
  {% endif %}
{% else %}
<script defer src="{{ url_for('static', filename='fa.min.js') }}"></script>
{% endif %}
{% endblock %}

{% block content %}
{% with share_url = url_for(
  'main.short', symb=short.symbol, stop='', _external=true
)|trim('=') %}
{% call() column_content() %}
{{ logo(none if share_mode else share_url) }}
{% endcall %}
{% call() column_content(cls='has-text-centered') %}
  <h1 class="title">{{ redirect_link(short) }}</h1>
  {% if not share_mode %}
  <div class="content">
    <a rel="nofollow" href="{{ share_url }}">
    {%- with jsdelay = (100 * short.delay) %}
    <progress
      id="progress" class="progress is-link is-small"
      value="{{ jsdelay }}" max="{{ jsdelay }}"
    >
      {{ short.delay }} Sekunde{{ 'n' if short.delay != 1 }}
    </progress>
    {%- endwith %}
    </a>
  </div>
  {% endif %}
{% endcall %}
{% endwith %}

{% if share_mode %}
{% call() column_content(cls='has-text-centered') %}
  <h2 class="title">Teilen</h2>
{% endcall %}
{{ social_buttons(url_for('main.short', symb=short.symbol, _external=true)) }}
{% else %}
{{ redirect_script(short) }}
<script>
(function(bar) {
  if (!bar) { return; }
  function decr() { bar.value--; }
  (function (val) {
    while(val--) { setTimeout(decr, 10 * val); }
  })(bar.value);
})(document.getElementById('progress'));
</script>
{% endif %}
{% endblock %}
