{% extends '_base.html' %}
{% from '_code.html' import column_content, logo, social_buttons %}

{% macro is_sharing(spec) %}
{% if ('stop' in request.args or 'share' in request.args) %}
  {% if spec %}{{ caller() }}{% endif %}
{% else %}
  {% if not spec %}{{ caller() }}{% endif %}
{% endif %}
{% endmacro %}


{% block head %}
{% if not is_socialagent(request.user_agent) %}
  {% call() is_sharing(false) %}
  {{ redirect_meta(short) }}
  {% endcall %}
{% endif %}
{% call() is_sharing(true) %}
<script defer src="{{ url_for('static', filename='fa.min.js') }}"></script>
{% endcall %}
{% endblock %}

{% block content %}
{% call() column_content() %}
{{ logo() }}
{% endcall %}
{% call() column_content(cls='has-text-centered') %}
  <h1 class="title">{{ redirect_link(short) }}</h1>
  <div class="content">
    {%- with jsdelay = (100 * short.delay) %}
    <progress
      id="progress" class="progress is-link is-small"
      value="{{ jsdelay }}" max="{{ jsdelay }}"
    >
      {{ short.delay }} Sekunde{{ 'n' if short.delay != 1 }}
    </progress>
    {%- endwith %}
  </div>
{% endcall %}
{% call() column_content(cls='has-text-centered') %}
  <h2 class="title">Teilen</h2>
  {% call() is_sharing(false) %}
  <h3 class="subtitle">
    {% with url = url_for('main.short', symb=short.symbol, stop=[
      'continue',
      'dont-move',
      'dont-panic',
      'hammertime',
      'immediately',
      'it',
      'moving',
      'now',
      'progress',
      'right-there',
      'running',
      'sharing',
      'stop',
    ]|random, _external=true) %}
    <a href="{{ url }}">{{ url }}</a>
    {% endwith %}
  </h3>
  {% endcall %}
{% endcall %}
{% call() is_sharing(true) %}
{{ social_buttons(url_for('main.short', symb=short.symbol, _external=true)) }}
{% endcall %}
{% call() is_sharing(false) %}
{{ redirect_script(short) }}
<script>
(function(bar) {
  if (!bar) { return; }
  function decr() { bar.value--; }
  (function (val) {
    while(val--) { setTimeout(decr, 10 * val); }
  })(bar.value);
})(document.getElementById('progress'));
</script>
{% endcall %}
{% endblock %}
